body, textarea, input {
  font: ‘Helvetica Neue’,arial,helvetica,sans-serif;
  font-size: 14pt;
  color: #333;
}

.pretty {
  font-family: 'Permanent Marker', serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0.054em;
  word-spacing: 0.082em;
  line-height: 1.2;
}

#history {
  margin-top: 15px;
}

section#ingres {
  text-align: center;
}

#ingres textarea {
  width: 100%;
  height: 75px;
}

#comm, header {
  font-size: small;
}

header {
  height: 30px;
}

header #observers {
  text-align: center;
}

#observers img {
  margin:2px;
}

header #account {
  text-align:right;
}

#timenow, #duration {
  text-align: right;
}

#what {
  background: #CCC;
  text-align: center;
  font-size: 14pt;
}

#decision, .prevdecision {
  border: 2px solid #CCC; 
  background-color: #CCC;
  border-radius: 5px; 
  padding: 5px;
  padding-left: 15px;
  text-align: left;
  margin-top: 15px;
}

#roster {
/*  margin-top: 15px;*/
  text-align: center;
}

.participant {
  margin: 5px;
  border: 2px solid #CCC;
  padding: 5px;
  display: inline-block;
}

.kpi {
  text-align: center;
  font-size: small;
  height: 147px;
  -webkit-transition: background 0.3s ease-in;
}

.kpi+.empty:hover {
  background:#eee;

}

table.kpi {  
  width: 100%;
  text-align: right;
}

table.kpi td {
  text-align: right;
  vertical-align: middle;
}

table.kpi img {
  text-align:right;
}

table.kpi td.kpilabel {
  text-align: left;
  height: 55px;
}

#proposals {
  background-color: #CCC;
  margin-top: 15px;
  padding-bottom:5px;
  text-align: left;
}

.proposal {
  border-radius: 5px;
  text-align: left;
  display: inline-block;
  background-color: white;
  width: 445px;
  margin-top: 5px;
  margin-left: 10px;
  padding: 3px 5px;
}

#commstream {
  line-height: 1.2em;
}

#commstream p {
  margin-bottom: 0px;
}

#commstream > div > p > span {
  font-weight: bold;
  color: #CCC;
}

#message > div {
  font-weight: bold;
  color:  #CCC;
}

#message {
  display: block;
}

#commhistory {
  height: 250px;
}

input[type=text] {
  width: 98%;
  border: 1px solid #CCC;
}

#message input[type=text] {
  width: 98%;
}
