<!doctype html>  

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{situation}} - {{situation_id}}</title>
  
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/text.css" />
  <link rel="stylesheet" href="/css/960.css" />
  <link rel="stylesheet" href="/css/main.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script src="/js/date.js"></script>
  <script src="/js/modernizr-1.7.min.js"></script>
  <script src="/js/jquery.countdown.min.js"></script>
  <script src="/js/mustache.js"></script>
  <script src="/js/jquery.periodic.js"></script>
  <script src="/js/situation.js"></script>

  
  <link  href="http://fonts.googleapis.com/css?family=Permanent+Marker:regular" rel="stylesheet" type="text/css" >

  <script language="javascript">
  var opened = Date.parse('{{opened}}');
  $(document).ready(function() {
    $('#duration').countdown({since: opened, compact: true, format: 'WHM', description: ''});
     
    setInterval(function() { $('#timenow').text(new Date().toUTCString()), 1000 });
    
    mpmetrics.track("View Situation");
  });
  </script>
</head>

<body class="container_12">
  <header>
    <div class="grid_2">tactical.io</div>
    <div class="grid_7" id="observers">{{#participants}}
        <img title="{{name}} <{{email}}>" src="http://www.gravatar.com/avatar/{{hash}}?s=20&d=retro"/>
    {{/participants}}&nbsp;</div>
    <div id="account" class="grid_3">{{account}}</div>
  </header>
  
  <section id="comm">
    <div class="grid_4">
      <a href="mailto:{{email}}">{{email}}</a>
    </div>
    <div class="grid_3">&nbsp;
      <!-- irc <a href="irc://irc.tactical.io/#{{irc}}">{{irc}}</a> -->
    </div>
    <div class="grid_2"> 
      Duration <span id="duration"></span>
    </div>
    <div id="timenow" class="grid_3">
      Now
    </div>
    <div class="clear"></div>
    <div id="what" class="grid_12">
      {{situation}}
    </div>
  </section>
  
  <div>&nbsp;</div>
  
  <section id="observation">
    
    {{#current_monitors}}
      {{#row}}
      {{#label}}
      <div class="grid_4 kpi"><img src="{{image_url}}" width="100%"><span class="kpilabel">{{label}}</span><span class="kpiedit" ref="{{ref}}">Edit</span><span class="kpiremove">Remove</span></div>
      {{/label}}
      {{^label}}
      <div class="grid_4 kpi"><span class="kpiedit" ref="{{ref}}">Edit</span>&nbsp;</div>
      {{/label}}
      {{/row}}
      <div class="grid_12 kpieditbar">Label: <input name="kpieditlabel" type="text"> URL: <input name="kpiediturl" type="text"><span class="kpieditbardone">Done</span><span class="kpieditbarcancel">Cancel</span><br/>&nbsp;</div>
    {{/current_monitors}}
        
  </section>
  
  <div>&nbsp;</div>
  
  <section id="action">
    
    <div class="grid_8">
      {{#current_decision}}
      {{>decision}}
      {{/current_decision}}
      {{^current_decision}}
      <div id="decision" class="decision"><input id="current_decision" type="text" placeholder="What's the immediate action?"></div>
      {{/current_decision}}
    </div>
    <div class="grid_4" id="roster">
      {{#participants}}
      <span class="participant">
        <img title="{{name}} <{{email}}>" src="http://www.gravatar.com/avatar/{{hash}}?s=45&d=retro"/>
      </span>
      {{/participants}}
    </div>
    
    
    <div id="proposals" class="grid_12">
      {{#current_proposals}}<div class="proposal">{{proposal}} <span class="vote">{{rate_up}} {{rate_down}}</span>&nbsp;</div>{{/current_proposals}}<div class="proposal add"><form id="proposal_form"><input id="proposal_add" type="text" placeholder="What should be done next?"></form></div>
    </div>  
  
  </section>
  
  <div>&nbsp;</div>
  
  <section id="commstream">
    <div class="grid_12" id="commhistory">
    </div>  

<!--
    <div class="grid_12" id="message">
      <form id="chat"><input type="text" max="500" placeholder="{{owner_firstname}} &gt;"></form>
    </div>
-->
  </section>
  
  <div>&nbsp;</div>
  
  <section id="history">
    {{#history}}
    <div class="grid_6">
      <div class="prevdecision">Decision: {{decision}}</div>
    </div>
    <div class="grid_6 historical_kpis">
      <table class="kpi">
        {{#monitors}}
        <tr>
          <td class="kpilabel">{{label}}</td>
          <td><img src="{{url}}"></td>
        </tr>
        {{/#monitor}}
      </table>
    </div>
    
    <div class="clear"></div>
    
    {{/history}}

  </section>

  <footer>
  </footer>
  {{>trackers}}
</body>

</html>